<ol class="breadcrumb">
    <li><a href="index.html">Produtos</a></li>
    <li class="active">Nome do Produto</li>
</ol>

<!-- Título -->
<div class="row">
    <div class="col-md-12">
        <h2>Produtos</h2>
    </div>
</div>

<!-- Lista -->
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Lista de Produtos</div>
            <div class="panel-body">
                <p>Selecione um registro abaixo para editar ou remover.</p>
                <div class="text-right">
                    <a href="produtos-cadastrar.html" class="btn btn-primary">
                        <span class="glyphicon glyphicon-plus"></span> Adicionar
                    </a>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">Código</th>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Valor</th>
                        <th>Quantidade</th>
                        <th class="text-center">Opções</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="produto in produtos">
                        <td class="text-center">{{ produto.codigo}}</td>
                        <td>{{produto.nome}}</td>
                        <td>{{produto.descricao}}</td>
                        <td>{{produto.valor}}</td>
                        <td>{{produto.quantidade}}</td>
                        <td class="text-center">
                           <button ng-click="controller.editar(produto._id)" class="btn btn-primary">
                                <span class="glyphicon glyphicon-edit"></span>
                            </button>
                            <button type="button" ng-click="controller.deletar(produto._id)" class="btn btn-danger">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
